<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>CV Creation</title>
	</head>
	<body xmlns:th="http://www.thymeleaf.org">
		<form action="#" th:action="@{/cvBuilder/build}" th:object="${CV}" method="post">
			<table>
				<tr>
					<td><input type = "text" th:field="*{name}"></td>
					<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
				</tr>
				
				<tr>
					<td><input type = "text" th:field="*{surname}"></td>
					<td th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></td>
				</tr>
				
				<tr>
					<td><input type = "text" th:field="*{background_info}"></td>
				</tr>
				
				<tr>
					<td><input type = "text" th:field="*{other_skills}"></td>
				</tr>
				
				<tr>
					<td><input type = "text" th:field="*{phone}"></td>
					<td th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></td>
				</tr>
				
				<tr>
					<td><input type = "text" th:field="*{address}"></td>
				</tr>
				
				<tr>
					<td><input type = "text" th:field="*{city}"></td>
				</tr>
				
				<tr>
					<td><input type = "text" th:field="*{province}"></td>
				</tr>
				
				<tr>
					<td><input type = "text" th:field="*{zip}"></td>
				</tr>
				
				<tr>
					<td><input type = "text" th:field="*{email}"></td>
				</tr>
				
			</table>
			<input type = "submit">
		</form>
	</body>
</html>