<html xmlns:th="http://www.thymeleaf.org">
	<style>
		.table-style {
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 1%;
		}
		
		.button, h2{
			text-align: center;
		}
		
		.align-right {
			text-align: right;
		}
	</style>
	
	<head>
		<meta charset="UTF-8">
		<title>CV Creation</title>
	</head>
	
	<body xmlns:th="http://www.thymeleaf.org">
		<form action="#" th:action="@{/cvBuilder/job}" th:object="${jobExperience}" method="post">
			<h2>Job experience</h2>
			
			<table class="table-style">
				<tr>
					<th class="align-right">Position</th>
					<td><input type = "text" th:field="*{job_title}"></td>
				</tr>
				
				<tr>
					<th class="align-right">Job Info</th>
					<td><input type = "text" th:field="*{job_info}"></td>
				</tr>
				
				<tr>
					<th class="align-right">Company name</th>
					<td><input type = "text" th:field="*{company_name}"></td>
				</tr>
				
				<tr>
					<th class="align-right">location</th>
					<td><input type = "text" th:field="*{location}"></td>
				</tr>
				
				<tr>
					<th class="align-right">Start date</th>
					<td><input type = "date" th:field="*{startDate}"></td>
				</tr>
				
				<tr>
					<th class="align-right">End date</th>
					<td><input type = "date" th:field="*{endDate}"></td>
				</tr>
				
			</table>
			
			<div class="button">
				<input type='submit' name='new' value='save and add new' />
				<input type='submit' name='cont' value='save and continue' formAction="/cvBuilder/job/cont"/>
			</div>
		</form>
	</body>
</html>