<html xmlns:th="http://www.thymeleaf.org">
	<style>
		.table-style {
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 1%;
		}
		
		.button, h2{
			text-align: center;
		}
		
		.align-right {
			text-align: right;
		}
	</style>
	
	<head>
		<meta charset="UTF-8">
		<title>CV Creation</title>
	</head>
	
	<body xmlns:th="http://www.thymeleaf.org">
		<form action="#" th:action="@{/cvBuilder/languages}" th:object="${languages}" method="post">
			<h2>Language skills</h2>
			
			<table class="table-style">
				<tr>
					<th class="align-right">Language *</th>
					<td><input type = "text" th:field="*{language}"></td>
					<td th:if="${#fields.hasErrors('language')}" th:errors="*{language}"></td>
				</tr>
				
				<tr align="center">
					<th class="align-right">Speaking</th>
					<td>
					<select th:field="*{speaking}">
					<option value="A1">A1</option>
					<option value="A2">A2</option>
					<option value="B1">B1</option>
					<option value="B2">B2</option>
					<option value="C1">C1</option>
					<option value="C2">C2</option>
					</select>
					</td>
				</tr>
				
				<tr align="center">
					<th class="align-right">Understanding</th>
					<td>
					<select th:field="*{understanding}">
					<option value="A1">A1</option>
					<option value="A2">A2</option>
					<option value="B1">B1</option>
					<option value="B2">B2</option>
					<option value="C1">C1</option>
					<option value="C2">C2</option>
					</select>
					</td>
				</tr>
				
				<tr align="center">
					<th class="align-right">Writing</th>
					<td>
					<select th:field="*{writing}">
					<option value="A1">A1</option>
					<option value="A2">A2</option>
					<option value="B1">B1</option>
					<option value="B2">B2</option>
					<option value="C1">C1</option>
					<option value="C2">C2</option>
					</select>
					</td>
				</tr>
				
			</table>
			
			<div class="button">
				<input type='submit' name='new' value='save and add new' />
				<input type='submit' name='cont' value='save and continue' formAction="/cvBuilder/languages/cont"/>
			</div>
		</form>
	</body>
</html>